@use 'base/variables' as v;
@use 'base/mixins' as m;

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 2.5rem;
  gap: 1rem;
  @include m.tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card__img {
  width: 23rem;
  height: 20rem;
  @include m.tablet {
    margin-top: 2rem;
  }
  @include m.desktop {
    height: 45rem;
    width: 45rem;
  }
}
