@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include m.tablet {
    margin-top: 5rem;
    height: 6rem;
    width: 100%;
    justify-content: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }
}
.navegacion__buscador {
  @include m.tablet {
    margin-top: 10rem;
  }
}
.buscador {
  &__input {
    margin-top: 1.5rem;
    border-radius: 17px;
    width: 15rem;
    height: 4rem;
    background-color: #f5f8fa;
    box-shadow: inset 0 0 0 1px #e1e8ed;
    border: 0;
    padding: 1rem;

    @include m.tablet {
      width: 25rem;
      display: flex;
      justify-content: space-between;
    }
    @include m.desktop {
      width: 35rem;
      display: flex;
      justify-content: space-between;
      height: 3rem;
      margin-top: 1.5rem;
    }
  }
}
.product__list {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  background-color: v.$blanco;
  margin-bottom: 3.5rem;
  @include m.tablet {
    font-size: 1.5rem;
  }
  @include m.desktop {
    font-size: 1.6rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}
.article {
  color: v.$negro;

  &:hover {
    background-color: v.$grisClaro;
  }
}

.filtro {
  display: none;
}
#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navegacion__bolsa {
  width: 3rem;
}
.catalogo {
  color: v.$negro;
  font-size: 2rem;

  @include m.tablet {
    font-size: 2rem;
    padding-right: 2rem;
  }
}
