@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include m.tablet {
    margin-top: 2.5rem;
    height: 6rem;
    width: 100%;
    justify-content: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }
}

.buscador {
  &__input {
    display: none;
    margin-top: 1.5rem;
    border-radius: 17px;
    min-width: 20rem;
    max-width: 40rem;
    height: 4rem;
    background-color: #f5f8fa;
    box-shadow: inset 0 0 0 1px #e1e8ed;
    border: 0;
    padding: 1rem;

    @include m.tablet {
      display: flex;
      justify-content: space-between;
    }
    @include m.desktop {
      display: flex;
      justify-content: space-between;
      height: 3rem;
      margin-top: 1.5rem;
      min-width: 30rem;
      max-width: 40rem;
    }
  }

  &__lupa {
    border: none;
    background-color: transparent;
    width: 3rem;
    position: relative;
    @include m.tablet {
      display: none;
    }
  }
}

#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navegacion__bolsa {
  width: 3rem;
}
.catalogo {
  color: v.$negro;
  font-size: 2rem;

  @include m.tablet {
    font-size: 2rem;
    padding-right: 2rem;
  }
}
